# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

data/Census_2020_-_Race_by_Precinct.zip
data/Census_Tract_2000-shp.zip
data/Census_Tract_2010-shp.zip
data/Council_District_1972-shp.zip
data/Council_District_1982-shp.zip
data/Council_District_1992-shp.zip
data/Council_District_2002-shp.zip
data/Council_District_2012-shp.zip

lexingtonDistricts.qgz


data/clean_data/clean_data.shx
data/clean_data/clean_data.prj
data/clean_data/clean_data.dbf
data/clean_data/clean_data.cpg

data/clean_data/D3_current_boundary/D3_current_boundary.cpg
data/clean_data/D3_current_boundary/D3_current_boundary.dbf
data/clean_data/D3_current_boundary/D3_current_boundary.prj
data/clean_data/D3_current_boundary/D3_current_boundary.shx

data/clean_data/clean_data.cpg
data/clean_data/clean_data.dbf
data/clean_data/clean_data.prj
data/clean_data/clean_data.shx
data/clean_data/D3_Census2020.cpg
data/clean_data/D3_Census2020.dbf
data/clean_data/D3_Census2020.prj
data/clean_data/D3_Census2020.shx
data/clean_data/district3_boundaryline.cpg
data/clean_data/district3_boundaryline.dbf
data/clean_data/district3_boundaryline.prj
data/clean_data/district3_boundaryline.shx
data/Census_2020_-_Race_by_Precinct.zip
data/Census_Tract_2000-shp.zip
data/Council_District_1972-shp.zip
data/Census_Tract_2010-shp.zip
data/Council_District_1982-shp.zip
data/Council_District_1992-shp.zip
data/Council_District_2002-shp.zip
data/Council_District_2012-shp.zip

data/clean_data/district3_boundaryline.cpg
data/clean_data/district3_boundaryline.prj
data/clean_data/district3_boundaryline.dbf
data/clean_data/district3_boundaryline.shx
data/clean_data/D3_current_boundary/D3_current_boundary.cpg
data/clean_data/D3_current_boundary/D3_current_boundary.dbf
data/clean_data/D3_current_boundary/D3_current_boundary.prj
data/clean_data/D3_current_boundary/D3_current_boundary.shx
data/clean_data/district10_historic_boundaries)/district10_historic_boundaries).cpg
data/clean_data/district10_historic_boundaries)/district10_historic_boundaries).dbf
data/clean_data/district10_historic_boundaries)/district10_historic_boundaries).prj
data/clean_data/district10_historic_boundaries)/district10_historic_boundaries).shp
data/clean_data/district10_historic_boundaries)/district10_historic_boundaries).shx


maps/District10/historics/1972-1982_2000px.png
maps/District10/historics/1972-1982_8000px.png
maps/District10/historics/1982-1992_2000px.png
maps/District10/historics/1982-1992_8000px.png
maps/District10/historics/1992-2002_2000px.png
maps/District10/historics/1992-2002_8000px.png
maps/District10/historics/2002-2012_2000px.png
maps/District10/historics/2002-2012_8000px.png
maps/District10/historics/D10_cumulative_2000px.png
maps/District10/historics/D10_cumulative_8000px.png

maps/District10/historics/D10_cumulative_2000px.png
maps/District10/historics/D10_cumulative_8000px.png


maps/District3/historics/2002-2012_2000px.png

maps/District3/historics/D3_cumulative_2000px.png
maps/District3/historics/D3_cumulative_8000px.png