# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

data/Census_2020_-_Race_by_Precinct.zip
data/Census_Tract_2000-shp.zip
data/Census_Tract_2010-shp.zip
data/Council_District_1972-shp.zip
data/Council_District_1982-shp.zip
data/Council_District_1992-shp.zip
data/Council_District_2002-shp.zip
data/Council_District_2012-shp.zip